@charset "utf-8";


        /* 나눔바른고딕 */
        @font-face {
            font-family: 'NanumBarunGothic';
            font-style: normal;
            font-weight: 400;
            src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
            src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
        }

        @font-face {
            font-family: 'NanumBarunGothic';
            font-style: normal;
            font-weight: 700;
            src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
            src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
        }

        @font-face {
            font-family: 'NanumBarunGothic';
            font-style: normal;
            font-weight: 300;
            src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
            src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
        }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.head {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h1 img{
    width: 50px;
    height: 50px;
}
.head ul li img{
    width: 40px;
    height: 40px;
}

/* 슬라이드 */
.swiper {
    width: 100%;
    height: 900px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 900px;
    object-fit: cover;
}


 /* 메인  */
.main_visual {
    width: 100%;
}

.main_visual .swiper-pagination-bullet-active {
    background-color: red;
}


/* 하이라이트 */
.highlight {
    margin-top: 100px;
    width: 100%;
}
.highlight .cont01 {
    margin: 0 auto;
    width: 1000px;
}
.highlight .cont01 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
}


/* 클럽 뉴스 */
.news {
    margin-top: 100px;
    height: 100%;
}
.news .cont02 {
    margin: 0 auto;
    width: 1440px;
}
.news .cont02 h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
}
.news .cont02 .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news .cont02 .card .item {
    width: 422px;
    height: 422px;
    overflow: hidden;
    margin: 20px;
}

.news .cont02 .card .item:hover img{
    transform: scale(1.2);
    transition: 0.5s;
}



/* 안내 */
.notice {
    padding: 100px 0 ;
    width: 100%;
    margin-top: 100px;
    background-color: #908c7d;
}
.notice .cont03 .item{
    width: 1440px;
    margin: 0 auto;
}
.notice .cont03 .item .photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.notice .cont03 .item .photo div{
    text-align: center;
    color: #fff;
    margin: 20px 10px 0;
    font-family: 'NanumBarunGothic';
}
.notice .cont03 .item .photo div:nth-child(1){
    background: url(../img/notic01.png);
    width: 630px;
    height: 250px;
} 
.notice .cont03 .item .photo div:nth-child(1) img{
    width: 46px;
}
.notice .cont03 .item .photo div:nth-child(1):hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.notice .cont03 .item .photo div:nth-child(2){
    background: url(../img/notic02.png);
    width: 630px;
    height: 250px;
} 
.notice .cont03 .item .photo div:nth-child(2) img{
    width: 46px;
}
.notice .cont03 .item .photo div:nth-child(2):hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.notice .cont03 .item .photo div:nth-child(3){
    background: url(../img/notic03.png);
    height: 250px;
    width: 630px;
} 
.notice .cont03 .item .photo div:nth-child(3) img{
    width: 46px;
}
.notice .cont03 .item .photo div:nth-child(3):hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.notice .cont03 .item .photo div:nth-child(4){
    background: url(../img/notic04.png);
    height: 250px;
    width: 630px;
} 
.notice .cont03 .item .photo div:nth-child(4) img{
    width: 46px;
}
.notice .cont03 .item .photo div:nth-child(4):hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.notice .cont03 .item .photo div img{
    margin-top: 100px;
}

/* 스폰서 */

.sponser {
    width: 100%;
    background-color: #292929;
}
.sponser img{
    width: 100%;
    height: 1160px;
    margin: 0 auto;

}

/* 마지막 */

footer {
    background-color: #232327;
    padding: 70px 0;
}

footer .inner {
    width: 100%;
    height: 100%;
    display: flex;
}
footer .inner .logo{
    margin-left: 320px;
}

footer .inner p {
    margin-left: 100px;
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.541);
    line-height: 1.8;
}